<template>
    <b-modal id="confirmDelete" :title="title" v-model="show" size="lg">
        <slot>
            <div class="tabs">
                <button v-on:click="setTab('embed')" :class="tab === 'embed' ? 'selected' : ''">
                    Embed Button
                </button>
                <button v-on:click="setTab('wix')" :class="tab === 'wix' ? 'selected' : ''">
                    For Wix Users
                </button>
            </div>
            <div style="cursor: default;" v-if="tab === 'embed'">
                <p>There are several ways to share your Junket.</p>
                <div v-if="tourPremium === 'premium'" class="link-section">
                    <p><strong>1. Website Booking Widget</strong></p>
                    <h4 style="line-height: 26px;">
                        HTML
                        <span class="info-icon" v-b-tooltip.hover title="You should include this code in HTML">
                            <div class="j-icon mgt-3">j</div>
                        </span>
                    </h4>
                    <b-form-group>
                        <b-form-textarea id="description"
                            type="text"
                            v-model="htmlCode"
                            required
                            rows="1"
                            class="code-form"
                            placeholder="">
                        </b-form-textarea>
                    </b-form-group>
                    <h4 style="line-height: 26px;">
                        Javascript
                        <span class="info-icon" v-b-tooltip.hover title="You should include this code in Javascript">
                            <div class="j-icon mgt-3">j</div>
                        </span>
                    </h4>
                    <b-form-group>
                        <b-form-textarea id="description"
                            type="text"
                            v-model="jsCode"
                            required
                            rows="1"
                            class="code-form"
                            placeholder="">
                        </b-form-textarea>
                    </b-form-group>
                </div>
                <div class="link-section">
                    <p><strong>{{ tourPremium === 'premium' ? '2' : '1' }}. Deep Link</strong></p>
                    <p>If the Junket app is already installed on a device, when this link is clicked, it will open the Junket app and take the user directly to your Junket inside the app. When sharing this, be sure to tell people that they should download the app first.</p>
                    <div class="link-items">
                        <div>{{appLink}}</div>
                        <b-btn variant="outline-primary" @click.prevent="copyAppLink()">Copy link</b-btn>
                    </div>
                </div>
                <div class="link-section">
                    <p><strong>{{ tourPremium === 'premium' ? '3' : '2' }}. Web based Junket link</strong></p>
                    <p>You can add this link to your website or share with others to open up the junket in a web browser, outside of the app.</p>
                    <div class="link-items">
                        <div>{{webLink}}</div>
                        <b-btn variant="outline-primary" @click.prevent="copyWebLink()">Copy link</b-btn>
                    </div>
                </div>
                <div class="link-section">
                    <p><strong>{{ tourPremium === 'premium' ? '4' : '3' }}. Webhook for FateHarbor</strong></p>
                    <p>You can register this link to your FareHarbor website to sell your junket.</p>
                    <div class="link-items">
                        <div>{{fareharborLink}}</div>
                        <b-btn variant="outline-primary" @click.prevent="copyFareharborLink()">Copy link</b-btn>
                    </div>
                </div>
            </div>
            <div v-else>
                <h4 style="line-height: 26px;">Step 1:</h4>
                <p>While editing your site, in the "Add menu", search for "Corvid" and select "Corvid Dev Mode".</p>
                <h4 style="line-height: 26px;">Step 2:</h4>
                <p>Add a button, and remember the “#id” of the button, in this case “#button4”. Be sure to change the text on this button to something more informative like “Book Now”.</p>
                <h4 style="line-height: 26px;">Step 3:</h4>
                <p>At the bottom of the screen, there should be a “XXXX Page Code” tab (Where XXXX is the name of the current page). Open this tab, and paste the following code:</p>
                <b-form-group>
                    <b-form-textarea id="description"
                        type="text"
                        v-model="jsWixCode"
                        required
                        rows="1"
                        class="code-form"
                        placeholder="">
                    </b-form-textarea>
                </b-form-group>
                <h4 style="line-height: 26px;">Step 4:</h4>
                <p>The “junkets” variable in the above code holds reference to what buttons should open which Junkets. You should replace “#button4” with the “#id” from step 2.</p>
                <p>If you have more than one “book now” button on a page, you can add them to the “junkets” variable along with the button “#id” that should open it. To add this junket to a page, you will need the id “100033”.</p>
                <p>This example shows this Junket, along with a second one with id “8675309”.</p>
                <b-form-group>
                    <b-form-textarea id="description"
                        type="text"
                        v-model="jsWixExample"
                        required
                        rows="1"
                        class="code-form"
                        placeholder="">
                    </b-form-textarea>
                </b-form-group>
                <h4 style="line-height: 26px;">Optional:</h4>
                <p>You can change the size of the modal that will be displayed by changing the “width” and “height” variables at the top of the code snippet. Note that the width will change on smaller screens to fit within the page size.</p>
            </div>
        </slot>
        <div slot="modal-footer" class="copy-modal-footer" style="flex-direction: column;">
            <div class="link-item">
                <b-btn variant="outline-secondary" @click.prevent="hideModal()">Cancel</b-btn>
            </div>
        </div>
    </b-modal>
</template>

<script>
export default {
    name: 'CopyModal',

    props: {
        title: {
            type: String,
            default: 'Copy Link!',
        },
        link: {
            type: String | Number,
            default: '',
        },
        tourTitle: {
            type: String,
            default: '',
        },
        tourCity: {
            type: String,
            default: '',
        },
        tourPremium: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        show: false,
        callback: null,
        webLink: '',
        appLink: '',
        fareharborLink: '',
        htmlCode: '',
        jsCode: '',
        jsWixCode: '',
        jsWixExample: '',
        tab: 'embed',
    }),

    mounted() {
        var string = this.link;
        this.appLink = "https://wejunket.com/junket/" + this.link;
        this.webLink = "https://wejunket.com/junkets/" + (this.tourCity && this.changeSpaceToHyphen(this.tourCity)) + '/' +this.changeSpaceToHyphen(this.tourTitle) + '/' + this.link;
        this.fareharborLink= "https://api.wejunket.com/purchase-junket-from-fareharbor/" + this.link;
        this.htmlCode = '<button class="wejunketbookWidgetOpenModal"\n' +
                '\tdata-id="' + this.link + '" onclick="wejunketOpenModal()"' +
            '>\n' + '\tBook Now\n' + '</button>';
        this.jsCode = "<scr" + "ipt>\n" +
                "\t(function (w,d,s,o,f,js,fjs) {\n" +
                    "\t\tjs = d.createElement(s), fjs = d.getElementsByTagName(s)[0];\n" +
                    "\t\tjs.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);\n" +
                "\t}(window, document, 'script', 'wejunket', 'https://wejunket.com/js/widget.js'));\n" +
                "\tfunction wejunketOpenModal(id) { window.wejunket(id); }\n" +
            "</scr" + "ipt>";
        this.jsWixCode = "const junkets = [\n" +
                "\t['#button4', 100033]\n" +
            "];\n" +
            "const width = 1200;\n" +
            "const height = 600;\n" +
            "import wixWindow from 'wix-window';\n" +
            "const ww = wixWindow;\n" +
            "const modal_page = 'https://s3.amazonaws.com/cms.wejunket.com/wix-modal.html';\n" +
            "$w.onReady(function () {\n" +
                "\tjunkets.map(junket => {\n" +
                    "\t\t$w(junket[0]).onClick(() => {\n" +
                        "\t\t\tww.openModal(`${modal_page}?id=${junket[1]}`, {\n" +
                            "\t\t\t\twidth,\n" +
                            "\t\t\t\theight,\n" +
                        "\t\t\t});\n" +
                    "\t\t});\n" +
                "\t});\n" +
            "});";
        this.jsWixExample = "const junkets = [\n" +
                "\t['#button4', 100033],\n" + 
                "\t['#button5', 8675309]\n" +
            "];";


        /*this.htmlCode = '<button id="wejunketbookWidgetOpenModal">Book now</button>\n' + 
            '<div id="wejunketbookWidgetModal" class="modal">\n\t' +
            '<div class="modal-content">\n\t' +
                '\t<div class="wejunketbook-widget" data-id="' + this.link + '"></div>\n\t' +
            '</div>\n' +
            '</div>';*/
        /*this.jsCode = "<scr" + "ipt>\n\t" +
            "(function (w,d,s,o,f,js,fjs) {\n\t" +
                "\tw['JS-Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };\n\t" +
                "\tjs = d.createElement(s), fjs = d.getElementsByTagName(s)[0];\n\t" +
                "\tjs.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);\n\t" +
            "}(window, document, 'script', 'mw', 'https://wejunket.com/js/widget.js'));\n\t" +
            "mw('init');\n\t" +
            "mw('book-now');\n" +
            "</scr" + "ipt>";*/
    },

    methods: {
        confirm(callback, cancelCallback = null, noCallback = null) {
            this.show = true;
            this.callback = callback;
        },

        copyAppLink () {
            var textarea = document.createElement('textarea');
            textarea.textContent = this.appLink;
            document.body.appendChild(textarea);
            var selection = document.getSelection();
            var range = document.createRange();
            range.selectNode(textarea);
            selection.removeAllRanges();
            selection.addRange(range);
            console.log('copy success', document.execCommand('copy'));
            selection.removeAllRanges();
            document.body.removeChild(textarea);
        },

        copyWebLink () {
            var textarea = document.createElement('textarea');
            textarea.textContent = this.webLink;
            document.body.appendChild(textarea);
            var selection = document.getSelection();
            var range = document.createRange();
            range.selectNode(textarea);
            selection.removeAllRanges();
            selection.addRange(range);
            console.log('copy success', document.execCommand('copy'));
            selection.removeAllRanges();
            document.body.removeChild(textarea);
        },
        
        copyFareharborLink () {
            var textarea = document.createElement('textarea');
            textarea.textContent = this.fareharborLink;
            document.body.appendChild(textarea);
            var selection = document.getSelection();
            var range = document.createRange();
            range.selectNode(textarea);
            selection.removeAllRanges();
            selection.addRange(range);
            console.log('copy success', document.execCommand('copy'));
            selection.removeAllRanges();
            document.body.removeChild(textarea);
        },

        changeSpaceToHyphen(tourTitle) {
            var temp = tourTitle.toLowerCase();
            var replaced = temp.split(' ').join('_');
            return replaced;
        },

        setTab(tab) {
            this.tab = tab;
        },

        hideModal() {
            this.show = false;
        },
    }
}
</script>
<style>
.link-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
}
.link-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
.link-section {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 1rem;
}
.code-form {
    border-radius: 5px !important;
}
.tabs {
    border-bottom: 1px solid #62bc8c;
    margin-bottom: 1rem;
}
.tabs button {
    border: 0px;
    background: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.tabs button:focus {
    border: 0px !important;
    outline: 0px !important;
}
.tabs button.selected {
    background: #62bc8c;
    color: #FFF;
    border: 0px;
}
</style>
