<template>
    <b-card header="Admins"
            header-bg-variant="secondary"
    >
        <!-- Filters -->
        <b-row class="mb-3">
            <b-col md="6">
                <date-picker v-model="dateRange" :isReport="true" @input="fetchFinancialData()"></date-picker>
            </b-col>
            <b-col md="6">
                <b-form-input v-model="filter" placeholder="Search..." class="ml-auto"/>
            </b-col>
        </b-row>


        <div class="chart-container mb-4">
            <h4 class="mb-3">Total Payout</h4>
            <line-chart style="height: 300px;" :chart-data="chartData" :options="chartOptions"/>
        </div>

        <spinner v-model="loading"></spinner>

        <!-- Client Table -->
        <b-row v-if="!loading && totalRows">
            <b-col lg="12">
                <div md="4" class="text-left d-flex justify-content-start align-items-center mb-2">
                    <div class="description perpage mr-2">Per page</div>
                    <b-form-select style="width: 72px;" class="numPerPage" v-model="perPage"
                                   :options="pageOptions"></b-form-select>
                </div>
                <b-table
                        :items="items"
                        :fields="fields"
                        :filter="filter"
                        @filtered="onFiltered"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :current-page="currentPage"
                        :per-page="perPage"
                        striped
                        hover
                >
                    <template slot="created_at" slot-scope="{ item }">
                        {{ formatDateTimeFromUTC(item.created_at) }}
                    </template>
                    <template slot="tours_count" slot-scope="{ item }">
                        {{ item.tours_count }} / {{ item.tour_limit }}
                    </template>
                    <template slot="actions" slot-scope="{ item }">
                        <router-link
                                class="btn btn-sm btn-info"
                                :to="{ name: 'admin.client.show', params: { id: item.id } }"
                        >
                            <fa :icon="['far', 'edit']"/>
                        </router-link>
                    </template>
                </b-table>

                <!-- Pagination -->
                <b-row>
                    <b-col md="6">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"/>
                    </b-col>
                    <b-col md="6" class="text-right">
                        Showing {{ showing }} of {{ totalRows }} results
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row v-if="!loading && !totalRows">
            <b-col class="text-center text-muted my-4">
                <h4>No Results</h4>
            </b-col>
        </b-row>

    </b-card>
</template>

<script>
    import {mapGetters} from 'vuex';
    import FormatsDates from "../../../mixins/FormatsDates";
    import FormatsNumbers from "../../../mixins/FormatsNumbers";
    import FormatStrings from "../../../mixins/FormatStrings";

    //todo remove this
    function newDateString(days) {
        return moment().add(days, 'd').format('MM/DD/YY');
    }

    //todo move to mixin or lib
    function forInMomentRange(startRange, endRangeArg, callback) {
        // let timeZone = getTimeZone();
        const endRange = endRangeArg.clone().add(1, 'days');
        let m = moment(startRange).set({hour: 0, minute: 0, second: 0, millisecond: 0})
        for (; m.isBefore(endRange); m.add(1, 'days')) {
            let end_of_day = moment(m.format()).set({hour: 23, minute: 23, second: 23, millisecond: 999})
            if (end_of_day.isAfter(endRange)) {
                break;
            }
            m.set({hour: 0, minute: 0, second: 0, millisecond: 0})
            callback(m);
        }
    }

    //todo remove
    function randomInt(start, end) {
        return Math.floor(Math.random() * (end - start) + start);
    }

    export default {
        middleware: ['auth', 'admin'],

        layout: 'admin',

        metaInfo() {
            return {title: 'Report'}
        },

        mixins: [FormatsDates, FormatsNumbers, FormatStrings],

        computed: {
            pageOptions() {
                let it = [5, 10, 20, 50,];
                if (this.items.length > 50) {
                    it.push(this.items.length)
                }
                return it;
            },
            //for chart
            labels() {
                let labels = [];
                forInMomentRange(moment(this.dateRange.start), moment(this.dateRange.end), m => {
                    labels.push(m.format('MM/DD/YY'))
                })
                console.log('labels is', labels);
                return labels;
            },
            //for chart
            dataPoints() {
                //todo implement
                return this.labels.map(item => {
                    return Math.floor(Math.random() * 20 + 5);
                });
            },

            chartData() {
                return {
                    labels: this.labels,
                    datasets: [
                        {
                            label: this.stringFormat(this.mode),
                            borderColor: this.chartColor,
                            backgroundColor: this.chartColor,
                            data: this.dataPoints,
                        },
                    ],
                };
            },
            showing() {
                let start = 1;
                if (this.currentPage > 1) {
                    start += this.perPage * (this.currentPage - 1);
                }

                let end = this.currentPage * this.perPage;
                if (end > this.totalRows) {
                    end = this.totalRows;
                }

                return `${start} - ${end}`;
            }
        },

        data() {
            return {
                chartOptions: {
                    responsive: true,
                    maintainAspectRatio: false,
                },
                chartColor: '#79acd1',
                items: [],
                itemCount: 0,
                dateRange: {},
                loading: true,
                totalRows: 0,
                fields: {
                    id: {sortable: true},
                    name: {sortable: true, label: 'Clients Name'},
                    /* todo remove this
                    email: { sortable: true },
                    tours_count: { sortable: true, label: 'Tours' },
                    company_name: { sortable: true, label: 'Organization' },
                    revenue: { sortable: true, formatter: val => '$' + val },
                    earning: { sortable: true, formatter: val => '$' + val },*/
                    junkets: {sortable: true, label: '# Junkets'},
                    revenue: {sortable: true, label: 'Total Revenue'},
                    in_revenue: {sortable: true, label: 'In-app Revenue'},
                    out_revenue: {sortable: true, label: 'Out-app Revenue'},
                    payout: {sortable: true, label: 'Payout'},
                    // payout_date: {sortable: true, label: 'Payout Date'},
                },
                filter: null,
                sortBy: 'name',
                sortDesc: false,
                currentClient: {},
                perPage: 10,
                currentPage: 1,
            };
        },

        methods: {
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },

            fetchFinancialData() {
                this.loading = true;

                let start = moment(this.dateRange.start).format('MM/DD/YYYY');
                let end = moment(this.dateRange.end).format('MM/DD/YYYY');
                /* todo fetch data from backend
                let url = `${this.config.urls.admin}financial-report?start_date=${start}&end_date=${end}`;
                axios.get(url)
                    .then( ({ data }) => {
                        data.sort((a, b) => {
                            if (a.name > b.name) return 1;
                            if (a.name < b.name) return -1;
                            return 0;
                        })
                        this.items = data;
                        this.itemCount = data.length;
                        this.totalRows = this.itemCount;
                        this.loading = false;
                    })
                    .catch(error => this.loading = false);*/

                // todo remove stub
                this.stubApi()

            },
            //todo remove
            stubApi() {
                setTimeout(() => {
                    let data = [];

                    for (let i = 0; i < Math.floor(Math.random() * 10 + 50); i++) {
                        data.push({
                            id: i,
                            name: "John Doe",
                            junkets: randomInt(5, 20),
                            revenue: randomInt(5, 20),
                            in_revenue: randomInt(5, 20),
                            out_revenue: randomInt(5, 20),
                            payout: randomInt(5, 20),
                            // payout_date: randomInt(5, 20),
                        })
                    }
                    this.items = data;
                    this.itemCount = data.length;
                    this.totalRows = this.itemCount;
                    this.loading = false;

                }, 1400)
            }
        },

        watch: {
            filter(val) {
                if (val === '') {
                    this.totalRows = this.itemCount;
                }
            },
        },

        async mounted() {
            let start = moment(this.dateRange.start).format('MM/DD/YYYY');
            let end = moment(this.dateRange.end).format('MM/DD/YYYY');
            /*
            //todo implement
            let url = `${this.config.urls.admin}financial-report?start_date=${start}&end_date=${end}`;
             axios.get(url)
                 .then( ({ data }) => {
                     this.items = data;
                     this.itemCount = data.length;
                     this.totalRows = this.itemCount;
                     this.loading = false;
                 })
                 .catch(error => this.loading = false);*/
            //todo remove
            this.stubApi();
        },
    }
</script>
